$background-color-1:  #4e535c;
$background-color-2:  coral;
$background-color-3:  white;
$font-color-1:        #ffffff;
$font-color-2:        black;
$font-color-3:        coral;

.column {
  display: flex;
  flex-direction: column;
  .columnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color-2;
    height: 3em;
    .columnTitle {
      color: white;
      letter-spacing: 0.12em;
    }
  }
}
