$background-color-1:        #ffffff;
$background-color-2:        #4e535c;
$background-color-orange:   #fcf0dc;
$background-color-green:    #E4FDC9;
$background-color-gray:     #F7F8FB;

$font-color-1:        #ffffff;
$font-color-2:        #4e535c;
$font-color-orange:   #F5B349;
$font-color-green:    #A7DB71;
$font-color-gray:     #B7BDC8;

$border-color-1:            #ffffff;
$border-color-2:            #4e535c;
$border-color-orange:       #F5AB3A;
$border-color-green:        #91D34B;
$border-color-gray:         #C8CDD9;

$letter-spacing: 0.12em;

.IN.QUEUE, .IN.PROGRESS, .DONE {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  transition-duration: 150ms;
  border: 0.05em solid;
  height: 9em;
  width: 90%;
  overflow: hidden;
  // padding: 4%;
  margin-bottom: 1em;
  .cardIdContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .cardId {
      font-size: 0.7em;
      font-weight: 600;
      color: $font-color-gray;
      letter-spacing: $letter-spacing;
      position: relative;
      top: 0.75em; left: 0.75em;
    }
  }
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardTitle {
      font-size: 1.2em;
      font-weight: 500;
      text-align: left;
      // font-weight: bold;
    }
    .cardDetails {
      display: flex;
      flex-direction: column;
      width: 95%;
      .cardBody {
        color: $font-color-2;
        text-align: left;
      }
      .cardConditions {
        position: relative;
        top: 1em;
        .cardPriority, .cardAssignedBy {
          color: $font-color-2;
          text-align: left;
        }
      }
    }
    .cardExtras {
      .cardInteraction {
        display: flex;
        button {
          background-color: blue;
          height: 1em; width: 2em;
          border: none;
        }
      }
      .cardAssignedTo {
        
      }
    }
  }
}

.IN.QUEUE:hover, .IN.PROGRESS:hover, .DONE:hover {
  height: 11em;
  width: 95%;
}

.IN.QUEUE {
  background-color: $background-color-orange;
  border-color: $border-color-orange;
  .cardIdContainer {
    .cardId {
      color: $font-color-orange;
    }
  }
  .cardContent {
    .cardTitle {
      color: $font-color-2;
    }
    .cardDetails {
      .cardBody {
        color: $font-color-2;
      }
      .cardConditions {
        .cardPriority, .cardAssignedBy {
          color: $font-color-2;
        }
      }
    }
    .cardExtras {
      .cardInteraction {
  
      }
      .cardAssignedTo {
        
      }
    }
  }
}

.IN.PROGRESS {
  background-color: $background-color-green;
  border-color: $border-color-green;
  .cardIdContainer {
    .cardId {
      color: $font-color-green;
    }
  }
  .cardContent {
    .cardTitle {
      color: $font-color-2;
    }
    .cardDetails {
      .cardBody {
        color: $font-color-2;
      }
      .cardConditions {
        .cardPriority, .cardAssignedBy {
          color: $font-color-2;
        }
      }
    }
    .cardExtras {
      .cardInteraction {
  
      }
      .cardAssignedTo {
        
      }
    }
  }
}

.DONE {
  background-color: $background-color-gray;
  border-color: $border-color-gray;
  .cardIdContainer {
    .cardId {
      color: $font-color-gray;
    }
  }
  .cardContent {
    .cardTitle {
      color: $font-color-2;
    }
    .cardDetails {
      .cardBody {
        color: $font-color-2;
      }
      .cardConditions {
        .cardPriority, .cardAssignedBy {
          color: $font-color-2;
        }
      }
    }
    .cardExtras {
      .cardInteraction {
  
      }
      .cardAssignedTo {
        
      }
    }
  }
}
