@import '../../../sass/config';

.formContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  .taskSubmission {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  input:first-child {
    margin-top: $modal-gap-size;
  }
  input:nth-child(n) {
    color: $font-color-2;
    height: 2em;
    margin-bottom: $modal-gap-size;
    border-bottom: 1px solid $border-color-2;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  input:last-child {
    border: none;
  }
  .selectPriority, .selectStatus {
    background-color: $background-color-1;
    height: 2.4em;
    width: 10em;
    color: $font-color-2;
    margin-bottom: $modal-gap-size;
    border-bottom: 1px solid $border-color-2;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  .submit {
    background-color: $background-color-1;
  }
}
